@{
    //Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <br />
    <h1><span class="fas fa-fire"></span> Trending Movies</h1>
    <br />
    <br />
    <div class="Container">
        <div class="row">
            <div class="col-md-4 home-div">
                <img class="home-image" src="~/Images/donniedarko.jpg" />
                <br />
                <h3>Donnie Darko</h3>
            </div>
            <div class="col-md-4 home-div">
                <img class="home-image" src="~/Images/memento.jpg" />
                <br />
                <h3>Memento</h3>
            </div>
            <div class="col-md-4 home-div">
                <img class="home-image" src="~/Images/vertigo2.jpg" />
                <h3>Vertigo</h3>
            </div>
        </div>
    </div>
</body>
</html>
