@*@using System.Web.Optimization @{
    ViewBag.Title = "Movie Details";}*@
@using System.Web.Optimization @{
    ViewBag.Title = "Movie Details"; }
@section libs { @Scripts.Render("~/bundles/movieDetails") }
<div ng-controller="movieDetailsController">
    <br />
    <br />
    <div>
        <div class="Container">
            <div class="row">
                <div class="col-md-4"><img src="~/Images/Shawsshank.jpg" w /></div>
                <div class="col-md-6">
                    <h2> {{movie.title}} ({{movie.year}}) <a href="/Movie/Edit/{{movie.id}}"><span class="fas fa-edit"></span></a></h2>
                    <h3> Genre: {{movie.genre}}</h3>
                    <h3> Rank: {{movie.rank}}</h3>
                    <small> {{movie.storyline}}</small>

                </div>
            </div>
        </div>
    </div>
    <hr />
    <h1><span class="fas fa-user-friends"></span> Cast</h1>
    <div ng-show="movie.actors.length < 1">
        
        <h3> There are no registered Actors to this movie yet.</h3>
        <br />
    </div>
    <div ng-hide="movie.actors.length < 1">
        <br />
        <table class="table table-striped">
            <thead></thead>
            <tbody>
                <tr>
                    <td><b>Actor name</b></td>
                    <td><b>Character</b></td>
                </tr>
                <tr ng-repeat="character in movie.actors">
                    <td><a ng-href="/MovieActor/Edit/{{character.id}}">{{character.name}}</a></td>
                    <td>{{character.character}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <a href="/MovieActor/Create/{{movie.id}}" class="btn btn-warning">
        <i class="fas fa-plus-square"></i>
        <span>
            <strong>Add Actor</strong>
        </span>
    </a>
    <hr />
    <h1><span class="fas fa-comments"></span> Comments</h1>
    <div ng-show="movie.comments.length < 1">

        <h3> There are no comments to this move yet.</h3>
        <br />
    </div>
    <div ng-hide="movie.comments.length < 1">
        <br />
        <table class="table table-striped">
            <thead></thead>
            <tbody>
                <tr>
                    <td><b>User email</b></td>
                    <td><b>Comment</b></td>
                    <td><b></b></td>
                </tr>
                <tr ng-repeat="comment in movie.comments">
                    <td>{{comment.user}}</a></td>
                    <td>{{comment.value}}</td>
                    <td><a ng-href="/comment/Edit/{{comment.id}}" ng-show="user.id == comment.selectedUserId"><span class="fas fa-pencil-alt"></span></a>&nbsp;&nbsp;<a ng-href="/comment/Delete/{{comment.id}}" ng-show="user.id == comment.selectedUserId"><span class="fas fa-trash"></span></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <a href="/Comment/Create/{{movie.id}}" class="btn btn-warning">
        <i class="fas fa-plus-square"></i>
        <span>
            <strong>Make a comment</strong>
        </span>
    </a>
</div> 