@using System.Web.Optimization @{
    ViewBag.Title = "Edit Movie"; }
@section libs { @Scripts.Render("~/bundles/movieEdit") }
<div ng-controller="movieEditController">
    <br />
    <h1><span class="fas fa-user"></span> Edit Movie</h1>

    <form name="movieEditForm" ng-submit="save(movieEditForm)" novalidate>
        <div class="row">
            <div class="col-md-6">
                <div class="form-horizontal">
                    <div form-group="title">
                        <label for="titleName" class="control-label col-md-2">Title</label>
                        <div class="col-md-10">
                            <input type="text" id="movieTitle" name="title" class="form-control" ng-model="movie.title" required ng-maxlength="100" />
                            <p error="title" type="required">The title is required.</p>
                            <p error="title" type="maxlength">The title must have a maximum of 100 characteres.</p>
                            <p srv-error="title"></p>
                        </div>
                    </div>
                    <div form-group="rank">
                        <label for="movieRank" class="control-label col-md-2">Rank</label>
                        <div class="col-md-10">
                            <input type="number" id="movieRank" name="rank" class="form-control" ng-model="movie.rank" required max="10" min="1" />
                            <p error="name" type="required">The rank is required.</p>
                            <p error="name" type="range">The rank must be between 1 and 10.</p>
                            <p srv-error="rank"></p>
                        </div>
                    </div>
                    <div form-group="year">
                        <label for="movieYear" class="control-label col-md-2">Year</label>
                        <div class="col-md-10">
                            <input type="number" id="movieYear" name="year" class="form-control" ng-model="movie.year" required max="2020" min="1900" />
                            <p error="year" type="required">The year is required.</p>
                            <p error="year" type="range">The year must be between 1990 and 2020.</p>
                            <p srv-error="year"></p>
                        </div>
                    </div>
                    <div form-group="storyLine">
                        <label for="movieStoryLine" class="control-label col-md-2">Story Line</label>
                        <div class="col-md-10">
                            <input type="text" id="movieStoryLine" name="storyLine" class="form-control" ng-model="movie.storyline" required ng-maxlength="200" />
                            <p error="storyLine" type="required">The story line is required.</p>
                            <p error="storyLine" type="maxlength">The story line must have a maximum of 200 characters.</p>
                            <p srv-error="storyLine"></p>
                        </div>
                    </div>
                    <div form-group="genre">
                        <label for="movieGenre" class="control-label col-md-2">Genre</label>
                        <div class="col-md-10">
                            <div class="btn-group" uib-dropdown dropdown-append-to-body>
                                <button id="btn-append-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle>
                                    {{placeHolder}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                                    <li role="menuitem" ng-repeat="genre in genres"><a ng-click="selectGenre(genre.id, genre.name)">{{genre.name}}</a></li>
                                </ul>
                                <p error="genre" type="required">The genre is required.</p>
                                <p srv-error="genre"></p>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-warning"><i class="fa fa-check"></i>&nbsp;Save</button>
                            @*<a class="btn btn-danger" href="/Movie/Delete/{{movie.id}}"><i class="fa fa-trash"></i>&nbsp;Delete</a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="top-space-xl">
        <a href="/Movie"><i class="fa fa-chevron-left"></i>&nbsp;Back to Movies</a>
    </div>
</div>

