@using System.Web.Optimization @{
    ViewBag.Title = "Edit Actor"; }
@section libs { @Scripts.Render("~/bundles/actorEdit") }
<div ng-controller="actorEditController">
    <br />
    <h1><span class="fas fa-user"></span> Edit Actor</h1>

    <form name="actorEditForm" ng-submit="save(actorEditForm)" novalidate>
        <div class="row">
            <div class="col-md-6">
                <div class="form-horizontal">
                    <div form-group="name">
                        <label for="actorName" class="control-label col-md-2">Name</label>
                        <div class="col-md-10">
                            <input type="text" id="actorName" name="name" class="form-control" ng-model="actor.name" required ng-maxlength="100" />
                            <p error="name" type="required">The name is required.</p>
                            <p error="name" type="maxlength">The name must have a maximum of 100 characters.</p>
                            <p srv-error="name"></p>
                        </div>
                    </div>
                    <div form-group="birthplace">
                        <label for="actorBirthplace" class="control-label col-md-2">Birthplace</label>
                        <div class="col-md-10">
                            <input type="text" id="actorBirthplace" name="birthplace" class="form-control" ng-model="actor.birthplace" required ng-maxlength="100" />
                            <p error="birthplace" type="required">The birthplace is required.</p>
                            <p error="birthplace" type="maxlength">The birthplace must have a maximum of 100 characters.</p>
                            <p srv-error="birthplace"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-warning"><i class="fa fa-check"></i>&nbsp;Save</button>
                            <a class="btn btn-danger" href="/Actor/Delete/{{actor.id}}"><i class="fa fa-trash"></i>&nbsp;Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="top-space-xl">
        <a href="/Actor"><i class="fa fa-chevron-left"></i>&nbsp;Back to Actors</a>
    </div>
</div>

