@using System.Web.Optimization @{
    ViewBag.Title = "Genres"; }
@section libs { @Scripts.Render("~/bundles/genres") 
                @Scripts.Render("~/bundles/dialog") }
<div ng-controller="genresController" block-ui="genresContentDiv">
    <br />
    <h1><span class="fas fa-film"></span> Genres</h1>
    <div ng-show="genres.length < 1">
        <p>There are no registered Genres yet.</p>
    </div>
    <div ng-hide="genres.length < 1">
        <p>Registered genres:</p>
        <ul class="top-space-lg">
            <li class="top-space-md" ng-repeat="genre in genres"><a ng-href="/Genre/Edit/{{genre.id}}" ng-bind="genre.name"></a></li>
        </ul>
    </div>
    <div class="top-space-lg">
        <a href="/Genre/Create" class="btn btn-warning"><i class="fa fa-plus"></i>&nbsp;Add genre</a>
    </div>
</div> 