@using System.Web.Optimization @{
    ViewBag.Title = "Actors"; }
@section libs { @Scripts.Render("~/bundles/actors") }
<div ng-controller="actorsController" block-ui="genresContentDiv">
    <br />
    <h1><span class="fas fa-users"></span> Actors</h1>
        <div ng-show="genres.length < 1">
            <p>There are no registered Actors yet.</p>
        </div>
        <div ng-hide="genres.length < 1">
            <p>Registered actors:</p>
            <ul class="top-space-lg">
                <li class="top-space-md" ng-repeat="actor in actors"><a ng-href="/Actor/Edit/{{actor.id}}" ng-bind="actor.name"></a></li>
            </ul>
        </div>
        <div class="top-space-lg">
            <a href="/Actor/Create" class="btn btn-warning"><i class="fa fa-plus"></i>&nbsp;Add actor</a>
        </div>
</div> 