<?xml version="1.0" encoding="utf-8" ?>
<!--
==============================================================================================
For these settings to take effect, you must rename this file to "Connections.config" (without
the "-template" suffix).
============================================================================================== -->
<connectionStrings>
	<!--
==============================================================================================
Database connection string (mandatory)
Set the database connection string in the "connectionString" attribute below. If SQL
authentication is being used, your connection string might be something like:
Data Source=SERVER;Initial Catalog=DATABASE;User ID=USERNAME;Password=PASSWORD
Or, if integrated authentication is being used, it might look something like:
Data Source=SERVIDOR;Initial Catalog=BANCO;Integrated Security=True
It might also be different, depending on your infrastructure. Do not change the values of the
attributes "name" ("DefaultConnection") and "providerName" ("System.Data.SqlClient").
NOTICE: Any "&" characters (for instance, on the user password) must be transformed into "&amp;"
============================================================================================== -->
	<add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=MyIMDBProd;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>